// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Style
@import "meeting/commons.scss";
@import "meeting/user.scss";
@import "meeting/layout.scss";
@import "meeting/layout_chat.scss";
@import "meeting/customer.scss";
@import "meeting/user_info.scss";
@import "meeting/left_sidebar.scss";
@import "meeting/right_sidebar.scss";
@import "meeting/customer.scss";
@import "meeting/chat_content.scss";
@import "meeting/message.scss";
@import "meeting/share_screen.scss";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
    line-height: 1.2;
}
