@import "../variables";
.wrapper-input {
    position: relative;
    input {
        width: 100%;
        border-radius: 5px;
        height: 42px;
        border: unset;
        padding: 10px;
        display: flex;
        background: $gray;
        color: $white;
        &:focus,
        &:focus-visible,
        &:focus-within {
            border: unset;
        }
        &.prefix-icon {
            padding-left: 35px;
        }
    }
    .icon-search {
        position: absolute;
        left: 10px;
        top: 13px;
        background: $gray url("/images/icon_search.png") left no-repeat;
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
}

.wrapper-icon {
    img {
        width: 100%;
        height: auto;
    }
}
